.active {
  text-decoration: none;
  font-weight: bold;
}

Nav {
  background-color: rgba(9, 65, 248, 0.829);
  border: 100px;
  padding: 63px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0px;
  border-radius: 0%;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
  
 
}


