.card-red {
  background-color: rgb(216, 11, 11);
}
.card-orangePink {
  background-color: orange;
}
.card-yellow {
  background-color: yellow;
}
.card-green {
  background-color: green;
}
.card-purpleViolet {
  background-color: #800080;
}
.card-blue {
  background-color: blue;
}
.cardTitle-lightgreen {
  color: rgb(4, 49, 250);
}
h1 {
  text-align: center;
  margin: 10;
  width: 50%;
  padding: 20px;
  color: rgba(9, 65, 248, 0.829);
  font-family: "Gill Sans", sans-serif;
  font-size: 100px;
  font-weight: darker;
}

button {
  border: none;
  color: black;
  padding: 63px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0px;
  border-radius: 100%;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold
}

nav {
  font-size: 2000px;
  height: 100px;
  
  
  
  
  
}

