
h1 {
  text-align: center;
  margin: 10;
  width: 50%;
  padding: 20px;
  color: rgba(9, 65, 248, 0.829);
  font-family: "Gill Sans", sans-serif;
  font-size: 100px;
  font-weight: darker;
}



.nav-style {
  font-size: 20px;
  height: 100px;
  border: none;
  background-color:lightpink;
  padding: 63px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 15px;
  margin: 0px;
  border-radius: 0%;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold

  
  
  
  
}


.nav-buttons{
  border: none;
  color:blue;
  padding: 6px;
  text-align: justify;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 20px;
  border-radius: 100%;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
  background-color:aqua;
  outline-width: 100px;
}