.btn-styling{
    border-color: black;
    font-size: 1em;
    height: 125px;
    width: 125px;
    border-radius: 100%;
    font-family: "Gill Sans", sans-serif;
    font-style: italic;
    font-weight: bold;
  }
  /* border: none;
  color:black;
  padding: 63px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 15px;
  margin: 0px;
  border-radius: 100%;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold  */
  